.contact {
    padding: 2rem 0;
}

.contactContent {
    display: flex;  
    gap: 4rem;  
}

.boxLeftSide,
.boxRightSide {
    flex: 1;
}

@media screen and (max-width: 480px) {
    .contactContent {
        flex-direction: column;
        gap: 4rem;
    }

    .listContact {
        width: 100%;
        margin-top: 2rem;
    }
}