.mainContainer {
    width: 100%;
    min-height: 100vh;
}

@media screen and (max-width: 850px) {
    .containerCards {
        grid-template-columns: repeat(2, minmax(15.6rem, 1fr)); 
        gap: 2rem;
    }
}

@media screen and (max-width: 767px) {
    section.carouselGallery {       
        padding: 4rem 0;        
    }

    .boxButtons {
        gap: 1rem;
    }

    .boxButtons .btnMoreServices:hover {
        transform: scale(1.0);
        background-color: #e1e1e1;
    }

    .boxButtons .btnOpenWhatsapp:hover {
        transform: scale(1.0);
        background-color: #740f54;
    }
}

@media screen and (max-width: 580px) {
    .containerCards {
        grid-template-columns: repeat(1, minmax(15.6rem, 1fr));     
    }
}