.defaultButton {
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: 0.5rem;   
    font-size: 1.2rem;  
    padding: 1rem 2rem;    
    cursor: pointer;     
}

.defaultButton.primary {
    background-color: #b49759;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.2s;
    border: 1px solid #b49759;
}

.defaultButton.primary:hover {
    background-color: transparent;
    border: 1px solid #b49759;
}

.defaultButton.hero {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: background-color 0.2s;
    margin-top: 2rem;
}

.defaultButton.hero:hover {   
    background-color: #ffffff31;
}

.btnIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnIcon > * {
    width: 2rem;
    height: 2rem;
}