.btnOpenWhatsapp {
    display: flex;
}

.left {
    justify-content: start;
}

.center {
    justify-content: center;
}

.right {
    justify-content: end;
}

.btnOpenWhatsapp button {
    display: flex;
    align-items: center;
    gap: 1rem;    
    width: 18rem;     
    padding: 1rem 2rem;   
    border: none;
    font-size: 1.5rem;    
    border-radius: 0.5rem;
    cursor: pointer;
    color: #fff;
    background-color: #8c1366;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.24);
    transition: 0.2s;   
    margin: 2rem 0; 
}

.btnIcon {
    font-size: 2rem;    
}

@media screen and (min-width: 768px) {
    .btnOpenWhatsapp button:hover {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 768px) {
    .btnOpenWhatsapp button:hover {
        background-color: #721053;
    }
}