.hamburguerMenu {
    display: none;
    position: relative;
    z-index: 999;
}

.hamburguerMenu div {
    width: 2rem;
    height: 0.25rem;
    background-color: #fff;
    border-radius: 1rem;
}

.hamburguerMenu div:not(:last-child) {
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 1000px) {
    .hamburguerMenu {
        display: block;
    }
}