.header {  
    background-color: #000;
}

.headerContent {
    padding: 10px;
    transition: 0.4s;
}

.navList {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;   
    user-select: none;
}

.itemList {
    padding: 10px;
    font-size: 22px;    
    border-radius: 20px 0 20px 0;
    transition: 0.4s;
    cursor: pointer;
}

.linkList {
    color: #8f8f8f;
}

.itemList:hover {
    background-color: #b49759;
}

.itemList:hover .linkList {
    color: #fff;
}

.linkList.activePage {
    color: #fff;
}