.header {  
    background-color: #000;
    min-height: 80px;
}

.headerContent {
    padding: 10px 0;
    transition: 0.4s;
}

.navList {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;   
    user-select: none;    
}

.itemList {
    padding: 10px;
    font-size: 1.37rem;    
    border-radius: 20px 0 20px 0;
    transition: 0.4s;
    cursor: pointer;
}

.linkList {
    display: block;
    color: #8f8f8f;
}

.itemList:hover {
    background-color: #b49759;
}

.itemList:hover .linkList {
    color: #fff;
}

.linkList.activePage,
.linkList.activePage .iconMobile {
    color: #fff;
}

.menuMobile {
    display: none;    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    z-index: 1000;    
}

.menuMobile > span {
    width: 30px;
    height: 4px;
    border-radius: 2rem;
    background-color: #fff;
    transition: 0.2s;
}

.iconMobile {
    display: none;
    width: 1.8rem;
    height: 1.8rem;
    color: #8f8f8f;
}

.nav.active > .menuMobile {
    transform: rotate(360deg);
}

.nav.active > .menuMobile > .line1 {
    transform: translateY(12px) rotate(45deg);
}

.nav.active > .menuMobile > .line2 {
    opacity: 0;
}

.nav.active > .menuMobile > .line3 {
    transform: translateY(-12px) rotate(-45deg);    
}


@media (max-width: 480px) {
    .menuMobile {
        display: flex;
    }

    .nav.active .menuMobile {
        position: fixed;
        top: 1.50rem;
        right: 1.25rem;
    }

    .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navList {        
        width: 100%;
        height: 100dvh;
        background-color: #080808;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        transform: translateY(-10%);
        opacity: 0;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        pointer-events: none;
        z-index: 999;
    }

    .nav.active .navList {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .itemList {
        border-bottom: 1px solid #b49759;
        border-radius: 0;
        width: 90%;
        font-size: 1.8rem;  
        padding: 1rem 0 1rem 0;       
    }

    .itemList:hover {
        background-color: transparent;
    }
    
    .linkList {
        display: flex;
        align-items: center;        
        gap: 2rem;        
    }
    .iconMobile {
        display: block;
    }
}