.title {    
    display: inline-block;      
    position: relative;
}

.title::after {
    content: '';
    width: 60%;    
    height: 2px;
    background-color: #A68C4C;
    position: absolute;
    left: 0;
    bottom: 0;
}