.contactInfo {    
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;    
    color: #8c1366; 
    margin: 0 auto;      
    padding: 0.5rem;
    border-bottom: 2px solid #8c1366;    
}

.contactInfo:not(:last-child) {
    margin-bottom: 1.8em;
}

.contactInfo .iconContact {
    font-size: 3em;
}

.contactInfo > div {
    display: flex;
    flex-direction: column;
}

.contactInfo > div > span:nth-child(1) {
    font-weight: bold;
    font-size: 1.5em;    
}

.contactInfo > div > span:nth-child(2) {
    font-size: 1.2em;
}

