section.differentials {
    width: 100%;
    padding: 2rem 0;    
    background-color: #000;
}

.differentialsContent {   
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.card {    
    display: flex;
    flex-direction: column;        
    color: #eee;    
    text-align: center;
}

.card h2 {    
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    position: relative;    
}

.card h2::after {
    content: '';
    width: 25%;
    height: 2px;
    background-color: #B49759;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    .differentialsContent {  
        flex-direction: column;       
    }
}