 .containerSlide {
    width: 100%;
    height: 100%;
    position: relative;
 }

 .backgroundImage {
    width: 100%;
 }

 .containerContent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
 }

 .textContent {
    display: flex;
    height: 100%;
    align-items: center;   
 }

 .boxText {
    display: flex;
    flex-direction: column;
    max-width: 520px;
 }

 .decoratedText {
    font-family: "Mrs Saint Delafield", cursive;
    font-size: 3rem;
    margin-bottom: -2.5rem;
    color: #e2b093;
}

.titleBanner {   
    font-size: clamp(2rem, 2rem + 5vw, 5rem);
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

.subTitleBanner {
    font-weight: bold;
    color: #ddd;
}

.description {
    margin-top: 1rem;
    width: 100%;
    color: #ddd;
}

/* Variant textCenter */

 .textContent.textCenter {
    justify-content: center;
 }

 .textContent.textCenter .boxText {
    align-items: center;
 }

 .textContent.textCenter .decoratedText,
 .textContent.textCenter .titleBanner,
 .textContent.textCenter .subTitleBanner,
 .textContent.textCenter .description {
    text-align: center;
 }  

 /* Variant textLeft */

 .textContent.textLeft {
    justify-content: start;
 }