* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;  
  min-height: 100vh;   
  background-color: #eee; 
}

#root {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #222; 
}

::-webkit-scrollbar-thumb {
  background: #b49759;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #8d7645;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}